@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.banner {
  background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.1)), url('./images/DSC_9576.JPG');
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.banner-heading {
  margin-top: 15px;
}

.banner-heading2 {
  font-size: 2rem;
  margin-top: 300px;
}

.banner-btn {
  background-color: rgb(0, 0, 0) !important;
  color: #000 !important;
  border: none !important;
  transition: 0.5s;
  box-shadow: none !important;
}

.banner-btn:hover {
  background-color: #fff !important;
  color: rgb(36, 151, 151) !important;
}

.blog .blog-img {
  background-image: url('/images/DSC_9584.JPG');
  width: 50%;
  height: 30vh;
  background-size: cover;
  background-position: center;
